<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
    {% include "navbar.html" %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>
	<!-- <script type="text/javascript">
		var buttons = document.getElementById("button");
		buttons.innerHTML = '<img src="swipe.png" />';
		$('.button, .container').click(function() {
  			$('.container').toggleClass('container');
		});
	</script> -->
</head>
<body>
		
	<div class="container-fluid">
        <div id="nav-placeholder">

            </div>
            <script>
                $(function) {
                    $("#nav-placeholder").load("navbar.html");});
                }
            </script>
        <div class="row">
            <div class="col-12 col-md-12 cold-sm-12">
                	<div class="des">
                           
                            <div class="description">
                                <h2>Description</h2>
                                <p>Computer Science student who loves on learning about new things and gaining new experiences</p>
                            </div>
                            <div class="education">
                                <h2>Formal Education</h2>
                                <h4>SD Islam Al-Azhar 20 Cibubur</h4>
                                <h5>2005-2011</h5>
                                <h4>SMP Labschool Cibubur</h4>
                                <h5>2011-2014</h5>
                                <h4>SMAN 2 Depok</h4>
                                <h5>2014-2017</h5>
                                <h4>Universitas Indonesia</h4>
                                <h5>Faculty of Computer Science | 2017 - Present</h5>
                            </div>
                            <div class="experiences">
                                <h2>Experiences</h2>
                                <h4>AKAR 2017</h4>
                                <h5>Publication and Design Staff | 2017</h5>
                                <p>AKAR is an annual art event in SMAN 2 Depok as a forum for students to show their ability in art.</p>
                                <ul>
                                    <li>Designed merchandises (shirt, cap, etc)</li>
                                </ul>
                                <h4>Yearbook Project</h4>
                                <h5>Creative Staff | 2017</h5>
                                <ul>
                                    <li>Decided the yearbook theme</li>
                                    <li>Designed templates and packaging </li>
                                </ul>
                                <h4>Wisuda Ganjil Fasilkom UI</h4>
                                <h5>Creative Staff | 2018</h5>
                                <ul>
                                    <li>Made decorations for the venue</li>
                                </ul>
                                <h4>COMPFEST X</h4>
                                <h5>Visual Design Staff | 2018 - present</h5>
                                <p>Compfest is an annual IT event held by Fasilkom UI's students</p>
                                <ul>
                                    <li>Made publication posters, certificate templates, ID cards, etc.</li>
                                </ul>
                                <h4>Wisuda Genap Fasilkom UI</h4>
                                <h5>Creative Staff | 2018</h5>
                                <ul>
                                    <li>Made publication posters, powerpoint template.</li>
                                </ul>
                                <h4>Pembinaan Mahasiswa Baru Fasilkom UI 2018</h4>
                                <h5>Documentation Staff | 2018 - present</h5>
                                <ul>
                                    <li>Made teaser video and after movie video.</li>
                                </ul>
                            </div>
                            <div class="skill">
                                <h2>Skills</h2>
                                <ul>
                                    <li>English</li>
                                    <div class="score english"></div>
                                </ul>
                                <ul>
                                    <li>German</li>
                                    <div class="score german"></div>
                                </ul>
                                <ul>
                                    <li>Adobe Photoshop</li>
                                    <div class="score ps"></div>
                                </ul>
                                <ul>
                                    <li>Adobe Premiere</li>
                                    <div class="score premiere"></div>
                                </ul>
                                <ul>
                                    <li>Python</li>
                                    <div class="score python"></div>
                                </ul>
                                <ul>
                                    <li>HTML</li>
                                    <div class="score html"></div>
                                </ul>
                            </div>
                            <div class="personality">
                                <h2>Personality Highlights</h2>
                                <ul>
                                    <li>Creative</li>
                                    <li>Responsible worker</li>
                                    <li>Well organized</li>
                                    <li>Works on schedule</li>
                                    <li>Easily motivated on learning new things</li>
                                </ul>
                            </div>
                    </div>
            </div>
                
        </div>
		
	</div>


		
			
		


</body>
</html>