<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Send Hira a Message!</title>
        {% include "navbar.html" %}
        <style>
            body {
                background-color:#243346;
                background-image: url("https://lh3.googleusercontent.com/32E0c0ERC06DeMckdwqFKQHfNk4SKStPm5v-BDGgMZdH3wyGTkGCFDcFnOONdo2de8LRWb7G9apeYUZNvskDBxaal6O7YPtZ7sZCSva3jvobA_8uriDG8VSEncK4HcWnh_Za08v9h-aaOE0DGPtJ37d_QzJKAAelf7SJIL_SlisCUQIbMS2Pe_bI9Q3K7_PZPaJdNJeZInH26BrxuXpBWaROkK9wVxW5YxRhq-ppEPdE5s54wIYhQdUmTAqpdMKMIGSqFkGW3CtOz3yXY4d8GwEKRUoAeKfawgC4jb2jPtsD-uYzmW4uq4jsWYNgDbKaD4UZhZzL2kU_T1t_MLPC_9afvwFZgavyxQ0XC05Az_gV8O03Ib48EZMUo-kpj0NV5MaWQCBUBjxTPjAXyDCjKh5YE4d5OoKxBTgew8ts1eBX87DhzkH0EAlJfYT8E7jCZaXe9nBQwtkZDSwzPqrQ4ZQatZmfj1nlJRweRHAK205lmw2lrq5TsYSZS91QheFcRpiwdLPWP4S8gMn0ahtBX-YnMv5UFykFG2BLinrADxXxexCifbxMf8LpOjyoCZ3qednoGCabm-lSuEdnqnnHCzKwdz56Cx5KAoEw9VUjoeTV6-kZnqFSZIuURu5uv34=w1158-h926-no");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
               
            }
            label {
                font-family: 'Karla', sans-serif;
                color: #f1f1f1;
            }
            button {
                background-color:#d49f4b !important;
                -webkit-transition: padding 0.5s ease;
                transition: padding 0.5s ease;
            }
            
            button:hover {
                padding-left: 45px;
                padding-right: 45px;
            }
            

        </style>
        {% load static %}
	<link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>        
        <link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
    </head>
    <body>
        <div class="container form">
                <div id="nav-placeholder">

                    </div>
                    <script>
                        $(function) {
                            $("#nav-placeholder").load("navbar.html");});
                        }
                    </script>
            <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="nama">
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" id="tanggal">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" id="subject">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                
                        </form>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- <div class="rt col-3"></div> -->
            </div>
            
            
        </div>
        

    </body>