{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "navbar.html" %}
        <title>Add Your Schedule</title>
        <link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
        
    <body>
        <div class = "container form">
            <div id="nav-placeholder"></div>
            <script>
                $(function) {
                    $("#nav-placeholder").load("navbar.html");});
                }
            </script>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                        <Section name="form">
                                <h2>Add your schedule!</h2>
                                <form id="form" method="POST" action="{% url 'intro:submitSchedule' %}">
                                    {% csrf_token %}
                                    {% for item in form %}
                                    <div class="form-group">
                                        <label>{{ item.label_tag }}</label>
                                        {{ item }}
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                
                            </Section>
                </div>
            </div>
            
        </div>
    </body>
</html>