<!DOCTYPE html>
<html>
<head>
	<title>All Schedule</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
	{% include "navbar.html" %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% load static %}
	<link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>
	
</head>
<body>
    {% if schedules %} 
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Kegiatan</th>
                    <th>Hari/Tanggal, Waktu</th>
                    <th>Tempat</th>
                    <th>Kategori</th>
                </tr>
                {% for item in schedules %}
                <tr>
                    <td>{{ item.nama_kegiatan }}</td>
                    <td>{{ item.hari }} {{ item.tanggal }} {{ item.waktu }}</td>
                    <td>{{ item.tempat }}</td>
                    <td>{{ item.kategori }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
    {% else %}
        <h2>Tidak ada jadwal</h2>
    {% endif %}
    <form action="{% url 'intro:deleteSchedule' %}">
        <button type="submit" class="btn btn-danger">Delete All</button>
    </form>
   





</body>
</html>