<!DOCTYPE html>
<html>
    <head>
            <title>Hello!</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            {% include "navbar.html" %}
            <link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
            {% load static %}
            <link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>
        <style>
            body {
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                background-image: url("https://lh3.googleusercontent.com/f3pSQzvbnMc6JEXOrefxswFrX13-KKoVSPIoRjabGsma2FF3w9_BM6bUZ27cMauMhJ8eUz9wYwvnYC-oldLVqfQiDvlbUuP7JbA4dg2I0B0lSjlBLg6KyVzWw_veKXRB0uOab-DBZbBFRB55t3Mcp5hrSdX02yDw3O1JTPsqdBf0pTDETQrATz2nGNkQfsWR2uMTiohZHruiXorUhwXAoqxXd4RtPz0v0yiNyB442U_cVkCKcyxNbk8NrrSusjjX7GJXGwzUOVl5xef3pywNPRIYQqXExxrR75Zul9C_x8rp0cWCc_cENG7vfW79Xrw3mnwPLzXPkZT9oUDM5Km4ALKua98JbwKfJWF2IeKDCzsEKBQeFQFVivHs2qTchDS9p1ZBHdGrWNoljk7iYh9mGOL-yO6ICe5HT496bcYiBDYbTiJRWjOotPkpIiRb79yUR0vxyyt7yyyq-58ftnaBFhORBt4ly3GuB-d5T3tNi7c1pTvRlaacuG6tWhmEgLQE00qjuEgI2p2n9RpsNJVzqpNVi6BtihtIjdv2OBuf6V1BtdSr7nIJUoMF9cJsPEAf9mTGj7zEBvR5vPZH0POsQYm02ozGNGFgygI51PJdOLOP0mrqJu1C8dJIZ7A0wrg=w1302-h926-no");
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                /* font-family: 'Istok Web', sans-serif; */
            }
            /* h1 {
                font-family: Istok Web;
                font-style: normal;
                font-weight: bold;
                line-height: 80%;
                font-size: 180px;

                color: #DE9F53;
                margin: 0px;
                position: static;
                box-sizing: border-box;
            } */
            /* h2 {
                /* font-family: Karla;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 40px;

                color: #FFFFFF; 
            } */
        </style>
    </head>
    <body>
        <div class= "home container">
                <div id="nav-placeholder">

                    </div>
                    <script>
                        $(function) {
                            $("#nav-placeholder").load("navbar.html");});
                        }
                    </script>
            <div class= "row">
                <div class="col-2"></div>
                <div class= "col-6">
                        <h2>Hello, My Name is</h2>
                </div>
            </div>
                <div class= "row align-items-center" >
                    <div class="col-4"></div>
                        <div class= "col-3">
                                <h1>FAKHIRA</h1>
                                <h1>DEVINA</h1>
                                
                        </div>
                        
                </div>
                <div class="row fixed-bottom">
                    <div class="col-5"></div>
                    <div class="col-3">
                            <div class="txts">
                                    <h3 class="text-center font-italic">Want to know more?</h3>
                                    <a href="{% url 'intro:about' %}"><img src="https://lh3.googleusercontent.com/eN6XEc7T0jZ02k8sCl3NHc55OP5JjGr1ma_K_7puBfq581IwO07EymcoDcGc5fZxwpHBBwRcep_jdXR-Y0OYp5vZ_CeQMrS3XKVD_aQdXmOvMJjJrN4-3Isl8rhddeiIPvaWTdKmYns3YzXR5e5wVLYRATODVMocZ8GREnKO56SHIcmaVAlG2sKCy3yEmzhukZMrJ4MO0fHyK7C25L2mirmcnTJc0WiqwS_4wpEcTbKUhXpwQa7ayjvJKYk1U8sTA52sqXFJZOlE21yBOpbXMDDAsOirwEtwdkcA_EjFwdP6IY7bjaZBh8B-9NmD5PPQWrz80np8afKIDcUzo_IWppHiQV5UPihyvk0XfzltzpRBzi0_kDkWjWdDPMviVjWRHnou_v7a-TvNOuvKe-hlHr98-zh9226nKpcfR7rUrcU2B6uIWnTJ9zIJpLycOnDTgtpoiNPgGJ9XKSCt2CTPckyG35htl0oHDxxo7Ng9NKEow-VLPkYHjrksy5NMyXygcNYpnCb_DRsH2D7yUYON-0_efSoMzi-efEKTSx_A8YNMBoIgRR1NxXarJQqj2OdeOitRWKbfmxwk_ctKxMWhBj5l-2Twnj-l92EqrCS8baWGS6TihXo2nlc1DXOuIbc=s256-no"width="60" height="60"></a>
                            </div>
                    </div>
                </div>
                
                
            
            
        </div>
        
    </body>
</html>