{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static "style.css" %}">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
	<nav class="navbar navbar-light sticky-top" style="background-color: #243346;">
		<a class="nav-link" href="{% url 'intro:desc' %}">About me</a>
		<a class="nav-link" href="{% url 'intro:home' %}">Home</a>
		<a class="nav-link" href="{% url 'intro:contact' %}">Contact</a>
		
		<a class="nav-link" href="{% url 'intro:susunJadwal' %}">Jadwal</a>
		
</nav>  
</body>