
.bio{
	background: #243346;
	background-image: url("https://lh3.googleusercontent.com/oWEAlvPVyvKbA1pCMhEVKspULBmQWaX5YPChhgQqnhARYebtRNam01Mf8mD3JWUw_CZc9iGXjwDpTMAGEXBQER5OzI40_JOlHk7KC37jUK91-APzVUT1DAwE-TMkBBMOU_Km7cEYR5IHzY6gyxAxqqcgj-i1CPwBCcXhz83aUmes-kjb4HOzl0ptuEWMMUu2bZcJIR1lJuEmc0QhY_g7F-9HW5uLQpHwS86vkF_t1Txgoz2JbHkIlmjvsNDaPxBW7_pIdcWxyuFMTjagesyMf9BLSHYAAENliHkUws31WkzHL_BD1uP7T0XctfHvHogYjANUz3xLmlme2Cbt00u2-bPBKBZ3V14pGX54TM5WqXXOWGI6oJL82MTa7Ze8t31W_kkdde_Rji1jJ6AASHvPR_XpdsAvCXVY1VmnIoHunYlAGHujMQcfzSm3jP14EjxH22Oy3_IjWrnP8FXK8r6xgTvt7uOvEozjcoyH7pneYPLCjOBLi7tnPIsUjb_1aUMoz_YGmAUGfgkJ2GB40cggHcVAC3ngoWA0-HarS8XhXClAK1bHZJzJzZQHE4iVjvNBl7JXG4zxq3qr2gvLHZ4W8Lyqlvjgs2-Jwnt0jw5jn9vA_6cg9_5SatvHfWej5S0=w404-h926-no");
	background-size: cover;
	/* background-position: center center; */
	position: fixed;
	height: 100% !important; 

	/* float: left;  */


}

/* .half {
	
		display: flex;
		flex-direction: column;
} */


.form {
	background-color:#243346;
	background-image: url("https://lh3.googleusercontent.com/32E0c0ERC06DeMckdwqFKQHfNk4SKStPm5v-BDGgMZdH3wyGTkGCFDcFnOONdo2de8LRWb7G9apeYUZNvskDBxaal6O7YPtZ7sZCSva3jvobA_8uriDG8VSEncK4HcWnh_Za08v9h-aaOE0DGPtJ37d_QzJKAAelf7SJIL_SlisCUQIbMS2Pe_bI9Q3K7_PZPaJdNJeZInH26BrxuXpBWaROkK9wVxW5YxRhq-ppEPdE5s54wIYhQdUmTAqpdMKMIGSqFkGW3CtOz3yXY4d8GwEKRUoAeKfawgC4jb2jPtsD-uYzmW4uq4jsWYNgDbKaD4UZhZzL2kU_T1t_MLPC_9afvwFZgavyxQ0XC05Az_gV8O03Ib48EZMUo-kpj0NV5MaWQCBUBjxTPjAXyDCjKh5YE4d5OoKxBTgew8ts1eBX87DhzkH0EAlJfYT8E7jCZaXe9nBQwtkZDSwzPqrQ4ZQatZmfj1nlJRweRHAK205lmw2lrq5TsYSZS91QheFcRpiwdLPWP4S8gMn0ahtBX-YnMv5UFykFG2BLinrADxXxexCifbxMf8LpOjyoCZ3qednoGCabm-lSuEdnqnnHCzKwdz56Cx5KAoEw9VUjoeTV6-kZnqFSZIuURu5uv34=w1158-h926-no");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Karla', sans-serif;
	color: #f1f1f1;
	
               
}

.form button {
	background-color:#d49f4b !important;
}
.clickable {
	-webkit-transition: width 0.5s height 0.5s;
    transition: width 0.5s height 0.5s;
}

.clickable:hover {
	width: 50px;
	height: 50px;
}

.home h1 {
	font-family: Istok Web;
	font-style: normal;
	font-weight: bold;
	line-height: 80%;
	font-size: 180px;

	color: #DE9F53;
	margin: 0px;
	position: static;
	box-sizing: border-box;
}

.home h2 {
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 40px;

	color: #FFFFFF;
}

#npm {
	color: #161E28;
	font-family: Istok Web;
	font-style: normal;
	font-weight: bold;
	line-height: 2%;
	font-size: 18px;

}


.bio h1{
	font-style: normal;
	font-weight: bold;
	line-height: 66px;
	font-size: 65px;
}






.bio h3{
	font-weight: 700;
	color: #ffffff;

}



h1, h2{
	font-family: 'Istok Web', sans-serif;
	color: #d49f4b;

}

.progress-bar {
	background-color: #d49f4b !important;
}

.bio h4{
	font-family: 'Karla';
	font-weight: bold;
	line-height: normal;
	font-weight: 400 ;
	color: #ffffff;
}

h3, h4, h5, p, ul {
	font-family: "Karla", sans-serif;
	color: "black";

}

.fulldes h4 {
	font-size: 1.1rem;
	font-weight: 700;
}

.fulldes h5 {
	font-size: 0.9rem;
	color: #605F61;
}

a, a:link {
	font-family: "Karla", sans-serif;
	color: #ffffff;
	line-height: 0.5rem;
}

a:visited {
	color: #d49f4b;
}

.education h5, .experiences h5{
	line-height: 0rem;
}

.phone {
	float: left;
}
.skill {
	line-height: 20%;
}

/* .download {
	width: 5%;
	height: 5%;
	float: right;
	position: relative;
	right: 70px;
	bottom: 70px;
} */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	/* body {
		flex-direction: column;
	} */

	.fulldes {
		display: none;
	}


	#npm {
		font-size: 5rem;
	}
	.bio {
		height:100%;
		width:100%;
		left: 0;
		top: 0; 
		line-height: 100%;
		position: fixed;
		/* flex-direction: column; */
		/* position: static; */
		background: #243346;
		background-image: url("https://lh3.googleusercontent.com/oWEAlvPVyvKbA1pCMhEVKspULBmQWaX5YPChhgQqnhARYebtRNam01Mf8mD3JWUw_CZc9iGXjwDpTMAGEXBQER5OzI40_JOlHk7KC37jUK91-APzVUT1DAwE-TMkBBMOU_Km7cEYR5IHzY6gyxAxqqcgj-i1CPwBCcXhz83aUmes-kjb4HOzl0ptuEWMMUu2bZcJIR1lJuEmc0QhY_g7F-9HW5uLQpHwS86vkF_t1Txgoz2JbHkIlmjvsNDaPxBW7_pIdcWxyuFMTjagesyMf9BLSHYAAENliHkUws31WkzHL_BD1uP7T0XctfHvHogYjANUz3xLmlme2Cbt00u2-bPBKBZ3V14pGX54TM5WqXXOWGI6oJL82MTa7Ze8t31W_kkdde_Rji1jJ6AASHvPR_XpdsAvCXVY1VmnIoHunYlAGHujMQcfzSm3jP14EjxH22Oy3_IjWrnP8FXK8r6xgTvt7uOvEozjcoyH7pneYPLCjOBLi7tnPIsUjb_1aUMoz_YGmAUGfgkJ2GB40cggHcVAC3ngoWA0-HarS8XhXClAK1bHZJzJzZQHE4iVjvNBl7JXG4zxq3qr2gvLHZ4W8Lyqlvjgs2-Jwnt0jw5jn9vA_6cg9_5SatvHfWej5S0=w404-h926-no");
		background-repeat:no-repeat;
		background-size:contain;
		background-position:right center;
	}

	 .bio h1 {
		font-size: 12rem;
		line-height: 100%;
	}

	.bio h3 {
		font-size: 6rem;
		font-weight: 700;
	}

	.bio h2 {
		font-size: 4.3rem;
	} 

	.img {
		width: 60px;
		height: 60px;
	}
	.fulldes{
		flex-direction: column;
	}
	.bio h4 {
		font-size: 4rem;

	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	 .fulldes {
		display: none;
	} 


	 #npm {
		font-size: 4rem;
	} 


	.bio {
		height:100%;
		width:100%;
		left: 0;
    	top: 0;
		position: fixed;
		background: #243346;
		background-image: url("https://lh3.googleusercontent.com/oWEAlvPVyvKbA1pCMhEVKspULBmQWaX5YPChhgQqnhARYebtRNam01Mf8mD3JWUw_CZc9iGXjwDpTMAGEXBQER5OzI40_JOlHk7KC37jUK91-APzVUT1DAwE-TMkBBMOU_Km7cEYR5IHzY6gyxAxqqcgj-i1CPwBCcXhz83aUmes-kjb4HOzl0ptuEWMMUu2bZcJIR1lJuEmc0QhY_g7F-9HW5uLQpHwS86vkF_t1Txgoz2JbHkIlmjvsNDaPxBW7_pIdcWxyuFMTjagesyMf9BLSHYAAENliHkUws31WkzHL_BD1uP7T0XctfHvHogYjANUz3xLmlme2Cbt00u2-bPBKBZ3V14pGX54TM5WqXXOWGI6oJL82MTa7Ze8t31W_kkdde_Rji1jJ6AASHvPR_XpdsAvCXVY1VmnIoHunYlAGHujMQcfzSm3jP14EjxH22Oy3_IjWrnP8FXK8r6xgTvt7uOvEozjcoyH7pneYPLCjOBLi7tnPIsUjb_1aUMoz_YGmAUGfgkJ2GB40cggHcVAC3ngoWA0-HarS8XhXClAK1bHZJzJzZQHE4iVjvNBl7JXG4zxq3qr2gvLHZ4W8Lyqlvjgs2-Jwnt0jw5jn9vA_6cg9_5SatvHfWej5S0=w404-h926-no");
		background-repeat:no-repeat;
		background-size:contain;
		background-position:right center;
	}

	 .bio h1 {
		font-size: 10rem;
		line-height: 100%;
	}

	.bio h3 {
		font-size: 5rem;
		font-weight: 700;
	}

	.bio h2 {
		font-size: 3.3rem;
	} 

	.img {
		width: 60px;
		height: 60px;
	}

	.bio h4 {
		font-size: 3rem;
		list-style: height 0;
	}
}

@media only screen and (max-width: 600px) {
	.fulldes {
		display: none;
	}


	 #npm {
		font-size: 1rem;
	} 


	.bio {
		height:100%;
		width:100%;
		left: 0;
		top: 0;
		line-height: 20%;
		position: fixed;
		background: #243346;
		background-image: url("https://lh3.googleusercontent.com/oWEAlvPVyvKbA1pCMhEVKspULBmQWaX5YPChhgQqnhARYebtRNam01Mf8mD3JWUw_CZc9iGXjwDpTMAGEXBQER5OzI40_JOlHk7KC37jUK91-APzVUT1DAwE-TMkBBMOU_Km7cEYR5IHzY6gyxAxqqcgj-i1CPwBCcXhz83aUmes-kjb4HOzl0ptuEWMMUu2bZcJIR1lJuEmc0QhY_g7F-9HW5uLQpHwS86vkF_t1Txgoz2JbHkIlmjvsNDaPxBW7_pIdcWxyuFMTjagesyMf9BLSHYAAENliHkUws31WkzHL_BD1uP7T0XctfHvHogYjANUz3xLmlme2Cbt00u2-bPBKBZ3V14pGX54TM5WqXXOWGI6oJL82MTa7Ze8t31W_kkdde_Rji1jJ6AASHvPR_XpdsAvCXVY1VmnIoHunYlAGHujMQcfzSm3jP14EjxH22Oy3_IjWrnP8FXK8r6xgTvt7uOvEozjcoyH7pneYPLCjOBLi7tnPIsUjb_1aUMoz_YGmAUGfgkJ2GB40cggHcVAC3ngoWA0-HarS8XhXClAK1bHZJzJzZQHE4iVjvNBl7JXG4zxq3qr2gvLHZ4W8Lyqlvjgs2-Jwnt0jw5jn9vA_6cg9_5SatvHfWej5S0=w404-h926-no");
		background-repeat:no-repeat;
		background-size:contain;
		background-position:right center;
	}

	.bio h1 {
		font-size: 5rem;
	}

	.bio h3 {
		font-size: 3rem;
		font-weight: 700;
	}

	.bio h2 {
		font-size: 3.3rem;
	}

	.img {
		width: 30px;
		height: 30px;
	}

	.bio h4 {
		font-size: 2rem;
		/* list-style: height 0; */
	}
}